<ion-header>
  <ion-toolbar>
    <ion-title> List Filter </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of filteredItems$ | async">
      {{item.title}} - {{item.label}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()"
        ><ion-icon slot="icon-only" name="filter"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
